*{
    font-family: Verdana;
}

.padding{
    padding: 4rem;
}

.title{
	padding-top: 1rem;
	padding-bottom: 1rem;
	font-size: 1.5rem;
}
.subtitle{
	padding-top: 1rem;
	padding-bottom: 5rem;
	font-size: 1rem;
}

.choice{
	color: teal;
}

.choice:hover{
	color: navy;
}